<section>
  <p class="aboutme">Vanessa is passionate about Technology, namely everything that regards software development.

    She believes that her knowledge regarding architecture and civil engineering is an important asset for the software
    development industry.

    She is also an architect with 9 years experience in the role of project coordinator, collaborating in the fields of
    architecture and engineering. Whilst working in architecture studios, in Lisbon, Azores and Barcelona. She has
    learned to be responsive towards architectural challenges, as well as brainstorming solutions inherent to individual
    projects and their intrinsic context.

    She works on projects Revit Architecture for six years, She acquired new knowledge and understanding of generative
    and parametric design methods, specially the connection between BIM Conceptual Mass with Rhino. She has a solid
    experience working on different scales in Revit and Autocad, able to develop design and construction
    details/documents and strong skills with worksets and parametric objects.

    She is dynamic, communicative, eager to work and constantly learning, she like be in contact with other realities
    and new challenges.

    Vanessa is passionate about technology, making it easier to learn faster.</p>
</section>