<footer class="container">
  <h3>Hey!</h3>
  <div class="row">
    <div class="col-9">
      <p>Thanks for reaching the bottom of this page. If you want to learn more about me or what I'm working on, I've
        got a bunch of links for you on the right. <br> Explore them at your own perfil.</p>
    </div>
    <div class="col-3">
      <p>Want to stay in touch?</p>
      <a class="emaillink" href="mailto:vanessa.adn@gmail.com">vanessa.adn@gmail.com</a>
    </div>
  </div>
</footer>
