#salao {
    background: url(/assets/images/01_salaocomunitario.jpg) center center no-repeat;
    background-size: cover;
}

#espaco {
    background: url(/assets/images/02_espacocomercial.jpg) center center no-repeat;
    background-size: cover;
}

#cerezales {
    background: url(/assets/images/03_cerezales.jpg) center center no-repeat;
    background-size: cover;
}

#chiasso {
    background: url(/assets/images/04_chiasso.jpg) center center no-repeat;
    background-size: cover;
}

#centro {
    background: url(/assets/images/05_centrodeestudos.jpg) center center no-repeat;
    background-size: cover;
}

.box {
  height: 30vh;
}

.box .center {
  padding-left: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .box {
    height: 20vh;
  }
}