<section>
  <div class="row">
    <div class="col-2 col-left">
      <h3 class="title">Stuff I've Done.</h3>

      <article>
        <a id="centro" class="linkarticle" href="#" target="_blank"></a>
        <h4 class="subtitle">Centre of Studies Natália Correia</h4>
        <p>Ponta Delgada, Azores</p>
        <span>Collaborator</span>
      </article>

      <article>
        <a id="espaco" class="linkarticle"
          href="https://www.archilovers.com/projects/63534/espaco-comercial-pmcr.html" target="_blank"></a>
        <h4 class="subtitle">Commercial Space PMCR</h4>
        <p>Ponta Delgada, Azores</p>
        <span>Author</span>
      </article>

    </div>
    <div class="col-2 col-right">

      <article>
        <a id="cerezales" class="linkarticle"
          href="http://azpml.com/#/projects/cerezales-foundation/606?author=&location=&q=&tag=&topic=&year=" target="_blank"></a>
        <h4 class="subtitle">Fundación Cerezales Antonino y Cinia</h4>
        <p>León, Spain</p>
        <span>Collaborator</span>
      </article>

      <article>
        <a id="chiasso" class="linkarticle"
          href="http://azpml.com/#/projects/development-of-chiasso-station/4063?author=&location=&q=&tag=&topic=&year=" target="_blank"></a>
        <h4 class="subtitle">Development of Chiasso Station</h4>
        <p>Chiasso, Switzerland</p>
        <span>Collaborator</span>
      </article>

      <article>
        <a id="salao" class="linkarticle"
          href="https://www.archilovers.com/projects/172071/ribeira-das-tainhas-community-lounge.html" target="_blank"></a>
        <h4 class="subtitle">Ribeira das Taínhas Community Lounge</h4>
        <p>Vila Franca do Campo, Azores</p>
        <span>Author</span>
      </article>

    </div>
  </div>
</section>

<section class="sectionlink">
  <a [routerLink]="['/developer']" href="javascript:void(0)" class="box two">
    <div class="center">
      <h4>Up Next: Developer</h4>
      <p class="bar">Take look my projects</p>
    </div>
    <img class="capa" src="assets/images/capa_dev_cod.png">
  </a>
</section>