nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 100px;
}

nav .nome {
  text-transform: uppercase;
  padding: 0 1.2em;
}

nav ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

li {
  padding: 0.5em 1.2em;
}

a {
  outline: none;
  text-decoration: none;
  padding: 5px;
  color: #000;
  transition: color 300ms ease;
}

a:hover,
a:active {
  color: #00b293;
}

@media only screen and (max-width: 600px) {
  nav {
    display: block;
    text-align: center;
    padding: 0 0 24px;
  }

  li {
    padding: 0 1.2em;
  }

  a {
    padding: 10px;
  }

}
