<nav>
  <a [routerLink]="['']" href="javascript:void(0)"><h1 class="nome">Vanessa Pinto de Sá</h1></a>
  <ul>
    <li><a [routerLink]="['']" href="javascript:void(0)">Home</a></li>
    <li><a [routerLink]="['/about']" href="javascript:void(0)">About</a></li>
    <li><a href="assets/images/CV_VPS.pdf" target="_blank">Resume</a></li>
  </ul>
</nav>