@font-face {
  font-family: GloriaHallelujah;
  src: url('/assets/fonts/Gloria_Hallelujah/GloriaHallelujah.ttf') format("truetype");
}

@font-face {
  font-family: Playfair-Regular;
  src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format("truetype");
}

@font-face {
  font-family: WorkSans-Regular;
  src: url('/assets/fonts/Work_Sans/WorkSans-Regular.ttf') format("truetype");
}

@font-face {
  font-family: WorkSans-Bold;
  src: url('/assets/fonts/Work_Sans/WorkSans-Bold.ttf') format("truetype");
}