section {
  text-align: center;
}

.hero {
  height: calc(100vh - 191px);
  padding: 1.2rem;
}

.box {
  outline: none;
  text-decoration: none;
  width: 100%;
  height: 50vh;
  display: block;
  position: relative;
  overflow: hidden;
}

.box .center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.capa {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}

.one {
  background: rgba(255, 255, 255, 0.7);
  color: #2b2926;
}

.two {
  background: rgba(0, 178, 147, 0.7);
  color: #2b2926;
}

.three {
  background: rgba(255, 255, 255, 0.7);
  color: #2b2926;
}

a.meavatar {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  transition: all 800ms ease 0ms;
}

a.meavatar:hover {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .16);
  /* transform: scale(1.1); */
}

.meavatar img {
  width: 260px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 500ms ease 0ms;
}

a.meavatar:hover img {
  width: 260px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1.1);
}

/* .medescription {
  opacity: 1;
  transition: opacity 1s ease-in-out 300ms;
} */

.medescription h3 {
  padding-top: 50px;
  color: #00b293;
}

.medescription p {
  padding-top: 12px;
}

.bar {
  padding: 10px 0;
  margin: 0;
  color: #00b293;
  font-size: 1.5rem;
}

.two .bar {
  color: #2b2926;
}

section {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .capa {
    width: unset;
    height: inherit;
  }

  .hero {
    height: calc(100vh - 100px);
  }

  .bar {
    font-size: 1.2rem;
  }

  a.meavatar {
    width: 220px;
    height: 220px;
  }

  .meavatar img {
    width: 230px;
  }
}
