<section class="hero">
  <a [routerLink]="['/about']" href="javascript:void(0)" class="meavatar">
    <img src="assets/images/meavatar.jpeg">
  </a>
  <div class="medescription">
    <h3>Hi! I'm Vanessa</h3>
    <p>I'm a frontend and Web Developer with an emphasis on UI/UX and web design.<br>
      I'm passionate about Technology, namely everything that regards software development.</p>
  </div>
</section>

<section>
  <a [routerLink]="['/architecture']" href="javascript:void(0)" class="box one">
    <div class="center">
      <p class="bar">I started like</p>
      <h2>Architect</h2>
    </div>
    <img class="capa" src="assets/images/capa_arq.jpg">
  </a>
</section>

<section>
  <a [routerLink]="['/developer']" href="javascript:void(0)" class="box two">
    <div class="center">
      <p class="bar">I learned to be a</p>
      <h2>Developer</h2>
    </div>
    <img class="capa" src="assets/images/capa_dev_cod.png">
  </a>
</section>

<section>
  <a [routerLink]="['/ux']" href="javascript:void(0)" class="box three">
    <div class="center">
      <p class="bar">I feel a</p>
      <h2>UX/UI Designer</h2>
    </div>
    <img class="capa" src="assets/images/capa_uxui.jpg">
  </a>
</section>
