article {
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden;
}
article a {
    width: 100%;
    height: 250px;
    background: #c1c1c1;
    display: block;
    border-radius: 16px;
    margin: 0 auto;
}

article a img {
    height: 200px;
}