<article>
  <a class="linkarticle" href="https://www.archilovers.com/projects/51439/competition-school-ebs-velas.html">
    <img src="assets/images/meavatar.jpeg" alt="proj">
  </a>
  <h3>Olá</h3>
  <p>teste</p>
</article>