/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
}

a,
p,
span {
  font-family: 'WorkSans-Regular', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  font-family: 'WorkSans-Bold', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
}

title,
h2 {
  font-family: 'Playfair-Regular', sans-serif;
  font-size: 4rem;
}

h3 {
  font-family: 'Playfair-Regular', sans-serif;
  font-size: 1.8rem;
}

h4 {
  font-family: 'Playfair-Regular', sans-serif;
  font-size: 1.4rem;
}

h5 {
  font-family: 'Playfair-Regular', sans-serif;
  font-size: 1rem;
}

.row {
  display: flex;
}

.col-9 {
  width: 80%;
  padding: 20px 80px 0 0;
}

.col-3 {
  width: 20%;
  padding: 20px 0 0 0;

}

.col-2 {
  width: 50%;
}

nav,
section,
footer {
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.col-left {
  padding-right: 30px;
}

.col-right {
  padding-left: 30px;
}

.title {
  padding: 50px 0;
}

.subtitle {
  padding-top: 17px;
  padding-bottom: 10px;
}

article {
  text-align: center;
  margin-bottom: 50px;
  /* overflow: hidden; */
}

article a.linkarticle {
  width: 100%;
  height: 250px;
  background: #c1c1c1;
  display: block;
  border-radius: 16px;
  margin: 0 auto;
  transition: all 800ms ease 0ms;
}

article a.linkarticle img {
  height: 200px;
}

article a.linkarticle:hover {
  border-radius: 16px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .16);
  transform: scale(1.05);
}

article h4 {
  font-size: 1rem;
}

article p {
  font-size: 0.8rem;
}

article span {
  font-size: 0.8rem;
  color: #00b293;
}


.box {
  outline: none;
  text-decoration: none;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.box .center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.capa {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}

.one {
  background: rgba(255, 255, 255, 0.7);
  color: #2b2926;
}

.two {
  background: rgba(0, 178, 147, 0.7);
  color: #2b2926;
}

.three {
  background: rgba(255, 255, 255, 0.7);
  color: #2b2926;
}

.bar {
  padding: 10px 0;
  margin: 0;
  font-size: 0.8rem;
}

.sectionlink {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .row {
    display: block;
  }
  .col-2,
  .col-3,
  .col-9 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  h2 {
    font-size: 2.8rem;
  }

  a,
  p,
  span {
    font-size: 0.8rem;
    line-height: 1.5;
  }

  .title {
    text-align: center;
  }
}
