<section>
  <div class="row">
    <div class="col-2 col-left">
      <h3 class="title">Stuff I've Done.</h3>

      <article>
        <a id="appedit" class="linkarticle" href="assets/images/appEdit.pdf" target="_blank"></a>
        <h4 class="subtitle">Edit App</h4>
        <p>Case Study</p>
        <span>Collaborator</span>
      </article>

      <article>
        <a id="noschallenge" class="linkarticle" href="assets/images/nos_desafio.pdf" target="_blank"></a>
        <h4 class="subtitle">NOS Challenge</h4>
        <p>Case Study</p>
        <span>Author</span>
      </article>

    </div>
    <div class="col-2 col-right">

      <article>
        <a id="quercus" class="linkarticle" href="assets/images/quercus.pdf" target="_blank"></a>
        <h4 class="subtitle">Quercus</h4>
        <p>Case study</p>
        <span>Collaborator</span>
      </article>

      <article>
        <a id="quercus" class="linkarticle" href="assets/images/quercus.pdf" target="_blank"></a>
        <h4 class="subtitle">Quercus</h4>
        <p>Case study</p>
        <span>Collaborator</span>
      </article>

    </div>
  </div>
</section>

<section class="sectionlink">
  <a [routerLink]="['/architecture']" href="javascript:void(0)" class="box one">
    <div class="center">
      <h4>Up Next: Architecture</h4>
      <p class="bar">Take look my projects</p>
    </div>
    <img class="capa" src="assets/images/capa_arq.jpg">
  </a>
</section>