#appedit {
  background: url(/assets/images/01_ux_appedit.jpg) center center no-repeat;
  background-size: cover;
}

#noschallenge {
  background: url(/assets/images/03_ux_nosdesafio.jpg) center center no-repeat;
  background-size: 80%;
}

#quercus {
  background: url(/assets/images/02_ux_quercus.jpg) center center no-repeat;
  background-size: 80%;
}

#chiasso {
  background: url(/assets/images/04_chiasso.jpg) center center no-repeat;
  background-size: cover;
}

#centro {
  background: url(/assets/images/05_centrodeestudos.jpg) center center no-repeat;
  background-size: cover;
}

.box {
  height: 30vh;
}

.box .center {
  padding-left: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .box {
    height: 20vh;
  }
}