#newstudio {
  background: url(/assets/images/01_dev_newstudio.jpg) center center no-repeat;
  background-size: cover;
}

#solinca {
  background: url(/assets/images/02_dev_solinca.jpg) center center no-repeat;
  background-size: cover;
}

#mytaxi {
  background: url(/assets/images/03_dev_mytaxi.jpg) center center no-repeat;
  background-size: cover;
}

#vitorportfolio {
  background: url(/assets/images/04_dev_vitorportfolio.jpg) center center no-repeat;
  background-size: cover;
}

#itc {
  background: #e7e7eb url(/assets/images/05_dev_rotatewhite.gif) center center no-repeat;
  background-size: 50%;
}

.box {
  height: 30vh;
}

.box .center {
  padding-left: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .box {
    height: 20vh;
  }
}