<section>
  <div class="row">
    <div class="col-2 col-left">
      <h3 class="title">Stuff I've Done.</h3>

      <article>
        <a id="newstudio" class="linkarticle"
          href="https://www.newstudio.pt/" target="_blank"></a>
        <h4 class="subtitle">NEW STUDIO Website</h4>
        <p>HTML5, SASS, JQuery, PHP, MYSQL</p>
        <span>Author</span>
      </article>

      <article>
        <a id="vitorportfolio" class="linkarticle" href="#" target="_blank"></a>
        <h4 class="subtitle">VITOR Portfolio</h4>
        <p>HTML5, CSS3, JQuery</p>
        <span>Author</span>
      </article>

    </div>
    <div class="col-2 col-right">

      <article>
        <a id="solinca" class="linkarticle"
          href="https://www.solinca.pt/" target="_blank"></a>
        <h4 class="subtitle">SOLINCA Website</h4>
        <p>HTML5, SASS, JQuery, PHP, MYSQL, Wordpress, Font-awesome</p>
        <span>Collaborator in comOn</span>
      </article>

      <article>
        <a id="mytaxi" class="linkarticle"
          href="#" target="_blank"></a>
        <h4 class="subtitle">MY TAXI Campaign</h4>
        <p>HTML5, SASS, JQuery, Bootstrap</p>
        <span>Collaborator in comOn</span>
      </article>

      <article>
        <a id="itc" class="linkarticle"
          href="#" target="_blank"></a>
        <h4 class="subtitle">ITC AUTO APP</h4>
        <p>HTML5, CSS3, Angular, Semantic</p>
        <span>Collaborator in ITC</span>
      </article>

    </div>
  </div>
</section>

<section class="sectionlink">
  <a [routerLink]="['/ux']" href="javascript:void(0)" class="box three">
    <div class="center">
      <h4>Up Next: UX/UI Designer</h4>
      <p class="bar">Take look my projects</p>
    </div>
    <img class="capa" src="assets/images/capa_uxui.jpg">
  </a>
</section>